html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #0f0f10;
}

/* Escalar el juego sin deformarlo */
canvas {
  display: block;
  margin: 0 auto;

  /* El canvas NO se deforma, solo escala */
  width: 100%;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;

  background: #111;
}
